:root {
  --wp-blue: #0078d4;
  --wp-light-blue: #64b3f4;
  --wp-white: #ffffff;
  --wp-black: #797575;
  --wp-text-primary: var(--wp-white);
  --wp-text-secondary: rgba(255, 255, 255, 0.7);
  --wp-background: var(--wp-black);
  --wp-card-background: rgba(0, 0, 0, 0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-color: var(--wp-background);
  color: var(--wp-text-primary);
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.loader,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  color: var(--wp-light-blue);
}