.articlePage {
  padding: 4rem 3rem;
  background-color: var(--color-dark-accent);
  border: 0.2rem solid var(--color-primary-red);
  box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.7);
  max-width: 80rem;
  margin-top: 5rem;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3.8rem;
  margin-bottom: 2rem;
  color: var(--color-primary-red);
  text-align: center;
  text-shadow: 0 0 1.2rem rgba(255, 0, 0, 0.7);
  text-transform: uppercase;
  line-height: 1.1;
}

.content {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.3rem;
  line-height: 1.7;
  color: var(--color-light-grey);
  margin-bottom: 3rem;
  white-space: pre-wrap;
  text-align: justify;
}

.navigationControls {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.backButton,
.navButton {
  background-color: var(--color-dark-deep);
  color: var(--color-light-grey);
  border: 0.1rem solid var(--color-secondary-grey);
  padding: 1.2rem 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out;
  font-weight: 700;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.backButton:hover,
.navButton:hover {
  background-color: var(--color-primary-red);
  border-color: var(--color-primary-red);
  color: var(--color-dark-extreme);
  box-shadow: 0 0 1.5rem rgba(255, 0, 0, 0.8);
}